/* Abstracts */
@import "abstracts/variables",
        "abstracts/functions",
        "abstracts/mixins";

/* Themes */
@import "themes/themes";
		
/* Base */
@import "base/reset",
        "base/animations",
        "base/base",
        "base/typography",
        "base/utilities";

/* Layout */
@import "layout/header",
        "layout/footer";

/* Pages */
@import "pages/home";

/* Components */
@import "components/button",
		"components/panel",
		"components/switch",
		"components/form/text",
		"components/globaltabs/globaltabs";