.button {
	display: inline-block;
	border: 0;
	outline: none;
	background-color: var(--color-button-background);
	color: var(--color-button-text);
	padding: 1rem 2rem;
	font-family: $default-font-family;
	font-size: 1.5rem;
	font-weight: 700;
	border-radius: .5rem;
	text-decoration: none;

	&:hover {
		background-color: var(--color-button-background-hover);
		color: var(--color-button-text-hover);
	}

	&-add {
		background-color: var(--color-button-add-background);
		color: var(--color-button-add-text);

		&:hover {
			background-color: var(--color-button-add-background-hover);	
			color: var(--color-button-add-text-hover);
		}
	}
}