// Source: https://www.w3schools.com/howto/howto_css_switch.asp

.switch {
	position: relative;
	display: inline-block;
	width: 56px;
	height: 30px;

	& input {
		opacity: 0;
		width: 0;
		height: 0;
	}	
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--color-switch-background);
	transition: .4s;

	&:before {
		position: absolute;
		content: "";
		height: 24px;
		width: 24px;
		left: 3px;
		bottom: 3px;
		background-color: white;
		transition: .4s;
	}
}

input:checked + .slider {
	background-color: var(--color-switch-active);

	&:before {
		transform: translateX(25px);
	}
}

input:focus + .slider {
	box-shadow: 0 0 1px var(--color-switch-active);
}

.slider.round {
	border-radius: 34px;
	
	&:before {
		border-radius: 50%;
	}
}