*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* This defines what 1 rem is.
       16 px is the default font size. 
       1 rem = (R)elative to font-size of the root (E)le(M)ment
       We want 1 rem = 10 px; Thus, 10px/16px = 62.5% */
    font-size: 62.5%; 

    @include respond(tab-land) {
        font-size: 62.5%;
    }

    @include respond(tab-port) {
        font-size: 62.5%;
    }

    @include respond(phone) {
        font-size: 62.5%;
    }

    @include respond(big-desktop) {
        font-size: 75%;
    }
}

body {
	box-sizing: border-box; /* Borders and padding are added to the height */
	background-color: var(--color-page-background);
	color: var(--color-text);
	padding: 2rem;
}