/* Dark theme variables */
$color-background: #000;
$color-text: #ccc;
$color-primary: #d33;
$color-secondary: #cc3;

$color-button-text: #eee;
$color-button-text-hover: #333;

$color-border-separator: #444;