/* Light theme variables */
$color-background: #fff;
$color-text: #000;
$color-primary: #00f;
$color-secondary: rgb(104, 245, 104);

$color-button-text: rgb(234, 234, 253);
$color-button-text-hover: rgb(8, 77, 8);

$color-border-separator: #eee;