/* Light theme variables */
$color-background: rgb(240, 242, 245);
$color-text: #000;
$color-primary: #2196F3;
$color-primary-hover: #4dafff;
$color-secondary: rgb(104, 245, 104);

$color-panel: rgb(255, 255, 255);

$color-button-background: rgb(228, 230, 236);
$color-button-background-hover: rgb(208, 210, 216);

$color-button-text: rgb(28, 30, 33);
$color-button-text-hover: rgb(28, 30, 33);

$color-button-add-text: rgb(255,255,255);
$color-button-add-text-hover: rgb(255,255,255);

$color-input-text-background: rgb(228, 230, 236);
$color-input-text-background-hover: rgb(208, 210, 216);
$color-input-text-color: rgb(28, 30, 33);
$color-input-text-placeholder: #999;

$color-switch-background: #ccc;
$color-switch-active: $color-primary;

$color-border-separator: #ccc;