/* 
	This mixin transfers SASS variables to CSS-variables,
	which makes it possible to toggle the whole theme using a single class.
*/

@mixin cssvariables {
	--color-page-background: #{$color-background};
	--color-text: #{$color-text};
	--color-heading: #{$color-primary};
	--color-panel: #{$color-panel};

	--color-button-background: #{$color-button-background};
	--color-button-background-hover: #{$color-button-background-hover};
	
	--color-button-add-background: #{$color-primary};
	--color-button-add-background-hover: #{$color-primary-hover};
	--color-button-add-text: #{$color-button-add-text};
	--color-button-add-text-hover: #{$color-button-add-text-hover};
	
	--color-button-text: #{$color-button-text};
	--color-button-text-hover: #{$color-button-text-hover};
	--color-border-separator: #{$color-border-separator};
	
	--color-input-text-background: #{$color-input-text-background};
	--color-input-text-background-hover: #{$color-input-text-background-hover};
	--color-input-text-placeholder: #{$color-input-text-placeholder};

	--color-switch-background: #{$color-switch-background};
	--color-switch-active: #{$color-switch-active};	
}